* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-grey: #666;
  --padding: 20px;
  --dark-grey: #282828;
  --line-grey: #c1c1c1;
  --active:  #ADFF2F;
}

body{
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--light-grey);
  text-decoration: none;
}

a:hover {
  color: white;
}

.debug {
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid black;
  min-height: 50px;
}

.d-flex {
  display: flex;
}

#main {
  height: 100vh;
}

main {
  height: calc(100% - 90px);
}

aside {
  min-height: 450px;
  height: 100%;
  width: 225px;
  background-color: black;
}

aside .top {
  background-color: black;
  height: calc(100% - 80px);

}

aside .top .logo-desktop {
  padding: var(--padding);

}

aside .top .logo-desktop img {
  width: 75%;
  
}

aside .top .nav-main-menu img{
  opacity: .8;
  width: 30px;
  vertical-align: middle;
}

aside .nav-main-menu li {
  padding-left: var(--padding);
  border-left: 3px solid transparent;
  margin-bottom: 20px;

}

aside .nav-main-menu li a {
  font-size: 14px;
}

aside .nav-main-menu li.active {
  border-left: 3px solid #ADFF2F;
}

aside .nav-main-menu li.active img {
  opacity: 1;
}

aside .nav-main-menu li.active a {
  color: white;
}

aside .bottom {
  height: 80px;

}

aside .logo-mobile{
  display: none;
}

aside .playlist {
  height: calc(100% - 180px);
  padding: 0 var(--padding);
  overflow: hidden;

}

aside .playlist h3 {
  font-size: 14px;
}

aside .add-playlist {
  color: var(--light-grey);
  margin-bottom: 10px;
}

aside .add-playlist span::before {
  display: inline-block;
  content: " +";
  width: 40px;
  height: 40px;
  background-color: #999;
  line-height: 40px;
  text-align: center;
  color: black;
  font-size: 35px;
  margin-right: 10px;

}

aside .playlist-list {
  overflow: auto;
  height: calc(100% - 65px);
}

.content {
  width: calc(100% - 225px);
  overflow: auto;
  padding-top: 90px;
  background-color: #141922;

}

.cta {
  position:fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 225px);
  background-color: #080B12;
  justify-content: flex-end;
  align-items: center;

}

.cta div span {
  color: white;
  text-transform: uppercase;
  padding: 15px 40px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: smaller;
  cursor: pointer;
}

div .menu-nav {
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

nav .menu {
  flex-direction: row;
  width: fit-content;
  
}

.menu ul {
  list-style: none;
  flex-direction: row;
  padding-top: 15px;
  color: #7D7F84;

}

.menu ul li {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: smaller;
  cursor: pointer;
}

.menu ul li.active {
  border-bottom: 2px solid #ADFF2F;
  

}

.content .card {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {

}


footer {
  height: 90px;

}

.playlist{
  height: 86%;
}

.player {
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  width: 100%;
  height: 100%;
}
.playlist-list{
  overflow: hidden;
  height: calc(100% - 30px);
}
.player-song,

.player-volume {
  align-items: center;
  justify-content: center;
}

.player-song,
.player-volume {
  width: 230px;
  justify-content: space-around;
}

.player-song .player-song-cover {
  width: 45px;
}

.player-song .player-song-cover img{
  width: 100%;
}

.player-song .player-song-title h4 a{
  color: white;
  font-size: 0.8rem;
  line-height: 16px;
}

.player-song .player-song-title p{
  line-height: 8px;
}

.player-song .player-song-title p a{
  font-size: 0.6rem;
}

.player-song .player-song-icons a{
  display: inline-block;
  margin-right: 7px;
}

.player-song .player-song-title a:hover {
  text-decoration: underline;
  color: white;
}

.player-controls {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.player-controls .player-controls-icons ul {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
}

.player-controls .player-controls-icons ul li {
  margin: 0 20px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.player-controls .player-controls-icons ul li.player-controller-play-ico {
  font-size: 2rem;
}

.player-controls .player-controls-icons ul li.player-controller-play-ico:hover {
  scale: 1.1;
  color: var(--active);
}

.player-controls .player-controls-time {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.player-controls-time .player-time-min {
  color: white;
  font-size: 0.7rem;
}

.player-bar {
  background-color: var(--light-grey);
  height: 4px;
  width: 85%;
  border-radius: 4px;
  cursor: pointer;
}

.player-bar .bar-time-line {
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  background-color: var(--line-grey);
  display: flex;
}

.player-bar:hover .bar-time-line {
  background-color: var(--active);
}

.player-bar:hover .bar-time-line .bar-time-line-point {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color:white;
}

.player-bar .bar-time-line.perc-20 {
  width: 20%;
  border-radius: 4px;
}

.player .player-volume ul   {
  list-style: none;
  color: white;
  flex-direction: row;
}

.player .player-volume {
  justify-content: space-around;
  margin-right: 20px;
}

.player .player-volume ul li {
  margin-right: 10px;
  font-size: .9rem;
}

@media screen and (max-wodth:600px) {
  aside {
    width: 50px;

  }

  .cta
  .content {
    width: calc(100% - 50px);
  } 
  
}